* {
    color: rgb(190, 190, 190);
    font-family: sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(38, 38, 38); 
}

.div-heading {
    background-color: black;
    border: 5px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.div-content {
    
}

ul li {
    color: black;
    padding: 10px;
    margin: 5px;
    background-color: rgb(110, 107, 107);
}

a:link {
    text-decoration: none;
}

a:visited {

}

a:hover li {
    border: 2px solid white;
    font-weight: bold;
}

a:active li {
    font-weight: bold;
}
